.second-slide {
  width: 100%;
  display: flex;
  justify-content: center;
}
.second-slide .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  gap: 20px;
}
.second-slide .wrapper .text-box h2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #2c73ff;
}
.second-slide .wrapper .text-box h2 .sapm-box {
  color: black;
  font-size: 46px;
}
.second-slide .wrapper .text-box p {
  text-align: center;
  font-size: 19px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .second-slide .wrapper .text-box h2 {
    font-size: 12px;
  }
  .second-slide .wrapper .text-box h2 .sapm-box {
    font-size: 16px;
  }
  .second-slide .wrapper .text-box p {
    font-size: 8px;
  }
}
.second-slide .wrapper .cargo:hover {
  background-color: #eee;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
.second-slide .wrapper .port:hover {
  background-color: #eee;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
.second-slide .wrapper .ship:hover {
  background-color: #eee;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
.second-slide .wrapper .gird-box {
  width: 98%;
  height: 100%;
  display: grid;
  padding-top: 115px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 11px;
  grid-row-gap: 1px;
}
.second-slide .wrapper .gird-box .cargo {
  border-radius: 5px;
  border: 1px solid;
  height: 410px;
  width: 335px;
  grid-area: 1/1/2/2;
}
.second-slide .wrapper .gird-box .cargo .wrapper {
  display: flex;
  flex-direction: column;
}
.second-slide .wrapper .gird-box .cargo .wrapper .imag img {
  width: 120px;
  height: 120px;
}
.second-slide .wrapper .gird-box .cargo .wrapper .text-box p {
  font-size: 20px;
}
.second-slide .wrapper .gird-box .cargo .wrapper .text-box span {
  font-size: 13px;
}
.second-slide .wrapper .gird-box .cargo .wrapper .text-box a {
  padding-top: 10px;
}
.second-slide .wrapper .gird-box .cargo .wrapper .text-box .read-box {
  padding-top: 30px;
  color: #2c73ff;
}
.second-slide .wrapper .gird-box .port {
  grid-area: 1/2/2/3;
  height: 410px;
}
.second-slide .wrapper .gird-box .port .wrapper {
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 370px;
  border: 1px solid;
  border-radius: 5px;
}
.second-slide .wrapper .gird-box .port .wrapper .imag img {
  width: 120px;
  height: 120px;
}
.second-slide .wrapper .gird-box .port .wrapper .text-box a {
  padding-top: 10px;
}
.second-slide .wrapper .gird-box .port .wrapper .text-box .read-box {
  padding-top: 30px;
  color: #2c73ff;
}
.second-slide .wrapper .gird-box .ship {
  grid-area: 1/3/2/4;
  height: 410px;
}
.second-slide .wrapper .gird-box .ship .wrapper {
  display: flex;
  flex-direction: column;
  width: 328px;
  height: 370px;
  border: 1px solid;
  border-radius: 5px;
}
.second-slide .wrapper .gird-box .ship .wrapper .imag img {
  width: 120px;
  height: 120px;
}
.second-slide .wrapper .gird-box .ship .wrapper .text-box a {
  padding-top: 10px;
}
.second-slide .wrapper .gird-box .ship .wrapper .text-box .read-box {
  padding-top: 30px;
  color: #2c73ff;
}
@media screen and (max-width: 768px) {
  .second-slide .wrapper .gird-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=second-section.css.map */