header {
	width: 100vw;
	height: 80px;
	position: fixed;
	z-index: 2;
	> .wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;
		width: 100%;
		max-width: 1543px;
		margin: 0 auto;
		height: 100%;
		gap: 320px;
		margin-top: -5px;
		background-color: white;
		white-space: nowrap;
		.naber-box > i:hover {
			transform: rotate(0.5turn);
			cursor: pointer;
		}
		.naber-mau > i:hover {
			transform: rotate(0.5turn);
			cursor: pointer;
		}
		.naber-nay > i:hover {
			transform: rotate(0.5turn);
			cursor: pointer;
		}
		.logo-box {
			font-size: 18px;
			font-weight: bold;
			color: #2c73ff;
			h2 {
				padding-left: 31px;
			}
		}
		.navber {
			display: flex;
			align-items: center;
			font-weight: bold;
			gap: 80px;
		}
		.button {
			display: flex;
			margin-left: 24px;
			.main-button-box {
				margin-top: 10px;
			}
			.svmp_button-box {
				margin-left: 20px;
				width: 70px;
				height: 45px;
				border: none;
				border-radius: 6px;
				background-color: #2c73ff;
				color: white;
			}
		}
		.wrapper-box {
			display: none;
		}
		@media screen and (max-width: 768px) {
			.navber {
				display: none;
			}
			.button {
				display: none;
			}
			.wrapper-box {
				display: flex;

				ul > li::after {
					content: "l";
					float: right;
					color: #9f7878;
					padding-left: 14px;
				}
				ul > li:last-child::after {
					content: "";
				}
			}
		}
	}
}
